@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.body {
  display: flex;
  justify-content: center;
}

.app {
  height: 600px;
  font-family: 'Poppins', sans-serif;
}

.app input {
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  border: 1px solid rgb(15, 107, 92);
  font-style: italic;
  cursor: pointer;
  padding: 2;
  outline: none;
}

.map {
  height: 700px;
}

.marker {
  background-image: url('https://i.imgur.com/oz3r3Wq.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellowgreen;
  border-radius: 11px;
  border: solid 3px darkslategray
}

.marker-delivery {
  background-color: rgb(225, 65, 65);
  width: 22px;
  height: 22px;
}